.navbarAll{
  padding: 8px 10px;
}

.navbarOptions{
  font-family: 'Inter', sans-serif;
  justify-content: end;
}

.navbar-color{
  background-color: #D9D9D9;
}

.mainStyle{
  margin: 0px 100px;
  justify-content: center;
}

.headerStyle{
  max-width: 100%;
  max-height: 100%;
}

.divURL{
  margin: 10px 65px 0px;
  padding: 10px 5px;
  border-radius: 8px;
  border: solid 1px #cbcbcb;
}

.styleMain{
  margin: 35px 65px;
  width: auto;
  background-color: white;
  display: flex;
  /* border-radius: 8px;
  border: solid 1px #cbcbcb; */
}

.divProduto{
  width: 49.5%;
  border-radius: 8px;
  border: solid 1px #cbcbcb;
}

.divProduto h4{
  padding: 8px;
}

.divVazia{
  width: 1%;
}

.footer{
  text-align: center;
  background-color: #D9D9D9;
}